#TODO .story {
    background-color: hotpink;
    color: #000000;
}

#WIP .story {
    background-color: lemonchiffon;
    color: #000000;
}

#DONE .story {
    background-color: cornflowerblue;
    color: #000000;
}
