.story {
    width: 185px;
    height: 112px;
    background-image: url('../img/sticky-note.png');
    background-repeat: no-repeat;
    margin-bottom: 1em;
    margin-right: 5px;
}

#TODO .story {
    background-position: 0 0;
}

#WIP .story {
    background-position: 0 -112px;
}

#DONE .story {
    background-position: 0 -224px;
}
